@model Product

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Price" class="form-label"></label>
    <input asp-for="Price" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="Sex" class="form-label"></label>
    <select asp-for="Sex" class="form-select">
        <option value="true">Male</option>
        <option value="false">Female</option>
    </select>
</div>

<div class="mb-3">
    <label asp-for="Size" class="form-label"></label>
    <select asp-for="Size"
            asp-items="Html.GetEnumSelectList<Size>()"
            class="form-select">
    </select>
</div>

<button type="submit" class="btn btn-primary">Save</button>

